<DOCTYPE html>
<html lang="fr" | xml:lang="fr">
<head>
    <meta chartset="utf-8" />
    <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    {% block head %}
    
    {% endblock %}
</head>
<body>
    <div class="container">
     {% block container%}

     {% endblock %}   
    </div>
</body>
</html>