<DOCTYPE html>
<html lang="fr" | xml:lang="fr">
<head>
    <meta chartset="utf-8" />
    <% block head %>
    <% endblock %>
</head>
<body>
    <div class="container">
     <% block container%>
     <% endblock %>   
    </div>
</body>
</html>